@model TIE_Decor.Entities.Product

<!-- Start Container Fluid -->
<!-- Start Container Fluid -->
<div class="container-xxl">

    <form id="productForm" action="/admin/products/edit" method="post" enctype="multipart/form-data">
        <input type="hidden" name="ProductId" value="@Model.ProductId" />
        @Html.AntiForgeryToken() <!-- CSRF Token để bảo mật -->

        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <img src="@Model?.ImageUrl?.Split(',').FirstOrDefault()" alt="" class="img-fluid rounded bg-light">
                        <div class="mt-3">
                            <h4>@Model?.ProductName <span class="fs-14 text-muted ms-1">Year: @Model?.Year</span></h4>
                            <h5 class="text-dark fw-medium mt-3">Price :</h5>
                            <h4 class="fw-semibold text-dark mt-2 d-flex align-items-center gap-2">
                                $@Model?.Price
                            </h4>
                            <div class="mt-3">
                                <h5 class="text-dark fw-medium">Category :</h5>
                                <div class="d-flex flex-wrap gap-2" role="group" aria-label="Basic checkbox toggle button group">
                                    @Model?.Category?.CategoryName
                                </div>
                            </div>
                            <div class="mt-3">
                                <h5 class="text-dark fw-medium">Brand :</h5>
                                <div class="d-flex flex-wrap gap-2" role="group" aria-label="Basic checkbox toggle button group">
                                    @Model?.Brand?.Name
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-9 col-lg-8">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Product Information</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label asp-for="ProductName" class="form-label">Product Name</label>
                                            <input type="text" id="ProductName" value="@Model.ProductName" class="form-control" name="ProductName" placeholder="Items Name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <label asp-for="CategoryId" class="form-label">Product Categories</label>
                                        <select class="form-control" id="CategoryId" name="CategoryId">
                                            @foreach (var category in (List<Category>)ViewData["Categories"])
                                            {
                                                <option value="@category.CategoryId">@category.CategoryName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            <label asp-for="BrandId" class="form-label">Brand</label>
                                            <select class="form-control" id="BrandId" name="BrandId">
                                                @foreach (var brand in (List<Brand>)ViewData["Brands"])
                                                {
                                                    <option value="@brand.Id">@brand.Name</option>
                                                }
                                            }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            <label asp-for="Year" class="form-label">Year</label>
                                            <input type="number" name="Year" value="@Model.Year" id="Year" class="form-control" placeholder="Year">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label for="description" class="form-label">Description</label>
                                    <input type="text" class="form-control bg-light-subtle" id="description" name="Description" value="@Model.Description" rows="7"></input>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Pricing Details</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label asp-for="Price" class="form-label">Price</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text fs-20"><i class='bx bx-dollar'></i></span>
                                            <input type="number" id="Price" value="@Model.Price" name="Price" class="form-control" placeholder="000">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-3 bg-light mb-3 rounded">
                            <div class="row justify-content-end g-2">
                                <div class="col-lg-2">
                                    <button type="submit" onclick="confirmEdit(event)" class="btn btn-outline-secondary w-100">Save</button>
                                </div>
                                <div class="col-lg-2">
                                    <a href="/admin/products" class="btn btn-primary w-100">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Add Product Photos</h4>
                        </div>
                        <div class="card-body">
                            <!-- File Upload cho nhiều ảnh -->
                            <div class="fallback">
                                <input name="images" type="file" multiple />
                            </div>
                            <div class="dz-message needsclick">
                                <i class="bx bx-cloud-upload fs-48 text-primary"></i>
                                <h3 class="mt-4">Drop your images here, or <span class="text-primary">click to browse</span></h3>
                                <span class="text-muted fs-13">
                                    PNG, JPG files are allowed.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
