@{
    ViewData["Title"] = "UrbanDesign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Services Page -->
<section class="section-padding2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title2">Urban Design</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p>This service is dedicated to shaping sustainable and vibrant communities through thoughtful planning and development of urban spaces. By balancing growth, accessibility, and livability, it addresses the needs of residents while promoting community engagement and connectivity.</p>
                <p>Urban design seeks to create public spaces that foster interaction, enhance the quality of life, and encourage a sense of belonging, ensuring that future generations enjoy well-designed, thriving environments.</p>
                <div class="row mb-30">
                    <div class="col-md-6 gallery-item">
                        <a href="~/img/services/4.jpg" title="Urban Design" class="img-zoom">
                            <div class="gallery-box">
                                <div class="gallery-img"> <img src="~/img/services/4.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 gallery-item">
                        <a href="~/img/services/5.jpg" title="Urban Design" class="img-zoom">
                            <div class="gallery-box">
                                <div class="gallery-img"> <img src="~/img/services/5.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-12 gallery-item">
                        <a href="~/img/services/6.jpg" title="Urban Design" class="img-zoom">
                            <div class="gallery-box">
                                <div class="gallery-img"> <img src="~/img/services/6.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 sidebar-side">
                <aside class="sidebar blog-sidebar">
                    <div class="sidebar-widget services">
                        <div class="widget-inner">
                            <div class="sidebar-title">
                                <h4>All Services</h4>
                            </div>
                            <ul>
                                <li><a href="@Url.Action("Architecture", "Home")">Achitecture</a></li>
                                <li><a href="@Url.Action("InteriorDesign", "Home")">Interior Design</a></li>
                                <li class="active"><a href="@Url.Action("UrbanDesign", "Home")">Urban Design</a></li>
                                <li><a href="@Url.Action("Planning", "Home")">Planning</a></li>
                                <li><a href="@Url.Action("Modelling", "Home")">3D Modelling</a></li>
                                <li><a href="@Url.Action("DecorPlan", "Home")">Decor Plan</a></li>
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>

